
/* stylo de la caja principal*/
.box{
 
    display: flex;
  flex-wrap: wrap;
  justify-content: center; 

 
  
  }
 
  
  h1{
    /*text-shadow: 0 0 30px #fff;*/
  }
  
  /* Stylo del acerca de mi, proyecto y contactenos */
  
  
  /*Stylo de la caja de la imagen de fondo */
  .contImageFigura{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    width: 44%;
   
  }
  
  /* Stylo de la imgane de fondo*/
  .ImageIco{
    padding-top: -900px;
   z-index: 2;
    width: 90%;
   opacity: 0.6;
  }
  
  /* Stylo de la palabra Acerca de mi*/
  .aboutMe{
    font-weight: bold;
    size: 300px;
    position:absolute;
    bottom: 330px;
    z-index: 5;
    opacity: 0.5;
  }
  
  h4{
    font-size: xx-large;
  }
  
  
  
  
  
  /* stylo del parrafo informativo*/
  .parrafo{
    
    padding-top: 30px;
    background-color: transparent;
    filter:alpha(opacity=70);
  -moz-opacity:.70;opacity:.70;
    border-radius: 10px;
    width: 600px;
  }
  
  /* stylo de la caja de las imagenes de tecnologias*/
  .contImages{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    opacity: 0.8;
  }
  
  /* stylo imagen react gif*/
  .ImgReact{
    width: 60px;
    border-radius: 1000% 1000%;
  }
  
  .iconNode{
    border-radius: 1000% 1000%;
  }
  
  /* stylo de hover imagen icon*/
  .iconPython:hover{
    /*background: #e40035a8 ;*/
    border-radius: 10px;
    transform: scale(1.1); 
  }
  
  .iconJavascript{
    border-radius: 50px;
  }
  .iconJavascript:hover{
   /* background-color: #0b08b1ac;*/
    border-radius: 10px;
    transform: scale(1.1);
  }
  
  .iconNode:hover{
    /*background-color: #10ffefb8;*/
    border-radius: 10px;
    transform: scale(1.1);
    /*box-shadow: 0 0 20px #4f9;
    box-shadow: 100% #10ffefb8;*/
  }
  
  .iconJava:hover{
   /* background: #e40035a8 ;*/
    border-radius: 10px;
    transform: scale(1.1); 
  }
  
  .iconMysql:hover{
   /* background-color: #0b08b1ac;*/
    border-radius: 10px;
    transform: scale(1.1);
  }
  
  .ImgReact:hover{
  
   /* background-color: #10ffefb8;*/
    border-radius: 1000% 1000%;
    transform: scale(1.1);
    box-shadow: 100% #10ffefb8;
    /*box-shadow: 0 0 20px #4f9;*/
  }
  
  
 
  