

.divContact{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-top: 9%;
  
}


.divForm{
    /* Es la Altura del formulario */
     width: 70%;
    padding-top: 30px;
   
   
}

form {
    /* Centrar el formulario en la página */
   background-color: rgba(106, 134, 136, 0.301);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
    margin: 0 auto;
    width: 80%;
    
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;

    box-shadow: 10px 5px 10px 5px  #0b08b1dc;
  }
  
  .ulConcat {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form .liConcat + .liConcat {
    margin-top: 1em;
  }
  
  label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 80%;
    text-align: left;
  }
  
  input,
  textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
      
    font: 1em sans-serif;
    background-color: #494993;
    color: white ;
   
    /* Tamaño uniforme del campo de texto */
    width: 70%;
    box-sizing: border-box;
    border-radius: 5px;
    /* Hacer coincidir los bordes del campo del formulario */
    /*border: 1px solid #999;*/
  }
  
  input:focus,
  textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
    resize: none;
    /* Proporcionar espacio para escribir texto */
    height: 6em;
  }
  
  .button {
    /* Alinear los botones con los campos de texto */
    padding-left: 2px; /* mismo tamaño que los elementos de la etiqueta */
  }
  
  button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
       font-weight: bolder;
       margin-top: 20px;
       border-radius: 5px;
       background-color:#494993 ;
       color: white;
    margin-left: 7em;
  }

  /*------------Responsive----------*/
  @media only screen and (min-width:320px) and (max-width:480px){
    .divContact {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-top: 5%;
      margin: 10px;
  }

  form {width: auto;}

  
  .contImageFigura{ margin: 10px;}
  
  }

  @media only screen and (min-width:481px) and (max-width:980px){
    
    .contImageFigura{ margin-top: 30px;}
  }