/* Estilos para el modo oscuro */
body.dark-mode {
    /*background-image:linear-gradient(0.25turn,  rgb(93, 23, 154) , rgb(36, 15, 119) ) ;*/
    background: lightgrey;
    background-repeat: no-repeat;
   color: black;
   font-weight: bolder;
    opacity: 10;
    }
    
    /* Estilos para los elementos específicos en modo oscuro */
    body.dark-mode .titleBuscar {background-color: #041522;}
    /* Stylo del header*/
   body.dark-mode .header{
   background: rgba(86, 86, 86, 0.962);
   }
   /* Stylo de los iconos*/
   body.dark-mode .IconoM{opacity: 0.9;}
   /*Estilo del menu*/
   body.dark-mode .liHome{color:rgba(0, 0, 0, 0.821) ;}
   body.dark-mode .liHome:hover{text-shadow: 0 0 40px black;}
   body.dark-mode .liAbout{color:rgba(0, 0, 0, 0.821) ;}
   body.dark-mode .liProject{color:rgba(0, 0, 0, 0.821);}
   body.dark-mode .liContact{color:rgba(0, 0, 0, 0.821) ;}
   /* Stylo del titulo Principal*/
   body.dark-mode .title{ color:black; opacity: 0.7;
   }
   /* stylo de los titulos de los proyectos*/
   body.dark-mode .titleEcomers{color:#e40037;}
   body.dark-mode .titleRick{color: #00b25f;}
   body.dark-mode .titleWhea{color:  #0C08B1;}
   /* stylo del foote*/
    body.dark-mode footer{ background:rgba(86, 86, 86, 0.945) ;}
    body.dark-mode .divImagenes{opacity: 0.9;}
    
    body.dark-mode h5 {color: white; opacity:0.8 ;}
    
    body.dark-mode input{background-color: #041522;}
    
    body.dark-mode button{background-color:#8458e2;  }

    /*Stylo de los iconos  */
    body.dark-mode .contImages{
        
        background-color:  rgb(86, 86, 86);
        box-shadow: 10px 5px 5px black;
    }
    
    /* stylo del proyectos la terjeta */
    body.dark-mode .card{
        box-shadow: 10px 5px 10px 5px  #090c248b;
        font-weight:lighter;
    }
    body.dark-mode .divProject{
        box-shadow: 8px 3px 8px 3px  #090c248b;
    }

    /* ----Stylo de contacteno formulario---*/
    body.dark-mode form {
        color:rgba(0, 0, 0, 0.821);
        box-shadow: 10px 5px 10px 5px #090c248b;
    }

    body.dark-mode label { color:rgba(0, 0, 0, 0.821);}
      
    body.dark-mode input,
    body.dark-mode textarea {
       background-color:  #0b08b1dc;
    }

    body.dark-mode button { background-color:#0b08b1dc;}
    /* ---------------responsible--------------------*/

    
    




