
/*-------------------Div del proyecto general---------------------*/
.divProject{
   margin-top: 40px;
    background-color: rgba(106, 134, 136, 0.301);
    border-radius: 10px;
    width: 50%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
   padding: 20px;
   overflow-y:scroll;
}

/*-------------div de las cart o tarjetas------------*/

.card{
   width: 40%;
   box-shadow: 10px 5px 10px 5px  #10ffef73;
   border-radius: 10px;
   margin: 20px;
}

.card:hover{
   transform: scale(1.1); 
}

.card .otra{
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;

}



.cart .title{
 text-transform: uppercase;
 letter-spacing: 5px;
 font-weight: 600;
 text-align: center;
 padding: 10px;
}

.cart .Leyenda{
   text-align: justify;
   padding: 3px;
   font-size: 14px;
   display: block;
   width: 90%;
   height: auto;
   margin: auto;
}






/*------------------Hacer responsive el iframe-------------*/
.container {
   position: relative;
   overflow: hidden;
   padding-top: 56.25%;
}

.container iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 0;
}

/*----------Responsive--------------*/
@media only screen and (min-width:320px) and (max-width:580px){
   .divProject {    width: 88%;}
   .card{ width: 98%}
}

@media only screen and (min-width:768px) and (max-width:820px){
   .divProject {    width: 88%;}
   .card{ width: 98%}
}