*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
:root {
    --violet: #8e7bef;
    --dark_grey: #222222;
    --yellow: #fcda68;
    --light_grey: #423f40;
    --cream: #f9f5f2
}
nav {
    display: flex;
    justify-content: flex-end;
}
nav button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 32px;
    color: var(--yellow);
    margin: 10px 30px;
}
nav button i {
    cursor: pointer;
    transition: 0.5s;
}
nav button i:hover {
    rotate: 180deg;
    transform: scale(1.2);
}
/* Responsive menu */
.nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow);
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    left: 100%;
    transition: 0.5s;
}
.nav__menu__item {
    list-style: none;
    line-height: 60px;
}
.nav__link {
    text-decoration: none;
    color: var(--dark_grey);
    font-size: 22px;
    font-weight: 600;
}
.nav__menu_visible {
    left: 0;
}
/* Header */
.first__section_header .header__principal__text {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first__section_header .header__principal__text h1 {
    font-size: 40px;
    color: var(--dark_grey);
    text-align: center;
}
.first__section_header .header__principal__text p {
    color: var(--dark_grey);
    text-align: center;
    max-width: 380px;
    font-size: 20px;
    margin: 20px 0;
}
.subtext__header {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.subtext__header .span__1 {
    color: var(--violet);
    font-size: 20px;
}
.subtext__header .span__2 {
    color: #969494;
    font-size: 20px;
}
.header__buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}
.header__buttons > div {
    background-color: var(--violet);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.header__buttons div a {
    color: white;
    font-size: 20px;
}
.first__section_header .contact__button {
    display: none;
}
.second__section_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second__section_header img {
    width: 300px;
}
.contact__button {
    border: none;
    background-color: var(--violet);
    width: 300px;
    height: 50px;
    margin: 50px 0;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* main */
.first__section_main {
    background-color: var(--yellow);
    padding: 20px;
    color: var(--dark_grey);
}
.first__section_main .experience__and_skills {
    margin: 30px 0;
}
.first__section_main .experience__and_skills h2 {
    font-size: 32px;
    max-width: 350px;
    line-height: 45px;
    font-weight: 600; /* 100 - 900 */
    margin-bottom: 20px;
}
.section__expirience {
    margin-bottom: 40px;
}
.section__expirience .experience__element {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}
.section__expirience hr {
    border: none;
    height: 2px;
    background-color: var(--light_grey);
    opacity: 0.5;
}
.skills__element .skills__icons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin: 40px;
} 
.skills__element .skills__icons div {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills__element .skills__icons div p {
    text-align: center;
}

/* Portfolio */
.second__section_main {
  text-align: center;
    padding: 20px;
}
.second__section_main h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    color: var(--dark_grey);
}
.second__section_main div p {
    color: var(--violet);
    font-weight: 500;
    margin: 20px 15px;
    font-size: 18px;
}
.second__section_main .img__correction img {
    margin-left: 15px;
    box-shadow: #222222;
}
.second__section_main .imgEcommerce{
    width: 50%;
}
.third__section_main {
    padding: 20px;
    margin: 40px;
}
.third__section_main h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: var(--dark_grey);
}
.third__section_main .contact__section {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.third__section_main .contact__section .contact__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.third__section_main .contact__section .contact__elements div {
    width: 80px;
    height: 80px;
    background-color: var(--cream);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third__section_main .contact__section .contact__elements h4 {
    text-align: center;
    color: var(--dark_grey);
    margin-top: 10px;
}
.third__section_main .contact__section .contact__elements p {
    text-align: center;
    color: var(--light_grey);
    opacity: 0.5;
    margin-top: 5px;
}
/*footer {
    min-height: 80px;
    margin-top: 20px;
}
footer p {
    text-align: center;
    color: var(--violet);
    font-size: 20px;
    font-weight: 400;
} */

@media screen and (min-width: 768px) {
    .nav__toggle {
        display: none;
    }
    .nav__menu {
        flex-direction: row;
        justify-content: flex-end;
        left: 0;
        top: 0;
        position: static;
        gap: 50px;
        background-color: transparent;
        margin-right: 50px;
    }
    .nav__menu__item .nav__link {
        font-size: 16px;
    }
}
@media screen and (min-width: 992px) {
    header {
        display: flex;
        justify-content: space-evenly;
    }
    .first__section_header .header__principal__text {
        align-items: flex-start;
    }
    .first__section_header .header__principal__text h1 {
        text-align: start;
        font-size: 44px;
        max-width: 300px;
    }
    .first__section_header .header__principal__text p {
        text-align: start;
    }
    .subtext__header {
        justify-content: flex-start;
    }
    .header__buttons {
        justify-content: flex-start;
    }
    .second__section_header .contact__button {
        display: none;
    }
    .first__section_header .contact__button {
        display: flex;
    }
    .second__section_header {
        justify-content: center;
    }
    .second__section_header img {
        min-width: 370px;
    }
    .section__flex {
        display: flex;
        justify-content: space-evenly;
    }
    .section__expirience {
        min-width: 50%;
    }
    .skills__element .skills__icons {
        flex-direction: row;
        justify-content: center;
    }
}