

*{
  padding: 0;
  margin: 0;

}


/*---------Stylo del scroball------------*/
/* Works on Firefox */
* {
  scrollbar-width:auto;
  scrollbar-color: gray ;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
 
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(211, 208, 208);
  border-radius: 5px;
  border: 1px solid #16161F;
}

body{
  /*background-color: #181823; */
  
  /*background:linear-gradient(0.25turn, rgba(90, 86, 103, 0.566),  rgba(9, 1, 15, 0.752)  );*/
  background:#1e1e23f0;
  background-size: 100%;
  color: white;
  font-family:'Segoe UI', Roboto, Geneva, Verdana, Calibri, Helvetica;
  border-radius: 10px;

}





  /*----------------Stylo del div de header---------------*/
  .header{
    position: fixed;
    /*background:linear-gradient(0.25turn, rgba(16, 14, 19, 0.752),black  );*/
    background:  #16161fd2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    z-index: 50;
  }
/* stilo del mini titulo head */
  .titlehead{
    color:#1d1d27ef ; 
  }
  .titlehead:hover{
    color: rgb(79, 70, 70);
    
  }

  /*Stylo del titulo  */
  .title{
    color: white;
    opacity: 0.7;
   font-weight: bold;
   
   }
  
  h1{
   width: 100%;
  }

  /*-----Iconos pequeños de footer y del head------ */
  .IconoM{
    width: 30px;
    opacity: 0.5;
  }
/*-------------div  principal del checkbox-----------------*/
.divcheckbox{
  display: flex;
  flex-wrap: wrap;
}
/*------div que contiene el checkbox-------*/
.divCheck{
  padding-top: 6px;
  padding-right: 20px;
}

/*  --------------- Stilo del Input cambio de dia-----------------*/
  input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    background: linear-gradient(0.25turn,  #333334f0,#848586ef );
    appearance: none;   /* Hides certain features of widgets */
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
  } 
  
  input[type="checkbox"]:checked {
    background: linear-gradient(0.25turn, #000000f0,#7a7a7bf0 )
  }
  
  input[type="checkbox"]::before {
     content: '';
     position: absolute;
     width: 16px;
     height: 16px;
     background-color: #f2f2f2;
     border-radius: 50%;
     top: 2px;
     left: 2px;
     transition: 0.7s ease;
  }
  
  input[type="checkbox"]:checked::before {
    transform: translateX(20px);
  }
/*------div del select------------------*/
.divSelect{
  padding-top: 5px;
}
  
  
  /*----------Stylo del Div del Menu-----------*/
  .menu{
    padding-top: 55px;
    display: flex;
    justify-content:right;
    width: 100%;
  }
  
  /*-------------Stylo del ul-------*/
  ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  
  }
  
  /*-----Stylo del Li-------*/
  li  {
    display: block; 
    padding-inline: 45px;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .liHome:hover{
    opacity: 10;
    text-shadow: 0 0  40px white ;
   
    
  }

  .liAbout:hover{
    opacity: 10;
    text-shadow: 0 0 40px #e40037;
    cursor: pointer #e40037, auto;
    
  }
  
  .liProject:hover{
    text-shadow: 0 0 40px  #10FFF1;
    opacity: 10;
    cursor: pointer;
   
  }
  
  .liContact:hover{
    opacity: 10;
    text-shadow: 0 0 40px  #0C08B1;
    cursor: pointer;
    
  }
  
  /*--------Stylo de un Link-----------------*/
  .link{
    text-decoration: none;
  }
 /*------------------------Footer-----------------------*/
 .icoFooter{
  width: 30px;
  opacity: 0.8;
}

.icoFooter:hover{
  transform: scale(1.1); 
}

footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;

 
 z-index: 50;

  background-color:#16161fd2;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.h5Footer{
  font-size:18px;
  opacity: 0.7;
}

.contIconFooter{
 
 
 
} 



/* responsive -------------------------*/
 
@media only screen and (min-width:320px) and (max-width:480px){
  li  {
    padding-inline: 155px;
  }

}


